<div class="alert alert-block alert-info">
<center>ESTATÍSTICA APLICADA</center>
<center>PROJETO: 1a</center>
<center>ALUNO: LIEDSON AUGUSTO MACIEL COSTA</center>
</div>

In [1]:
#CARREGANDO AS BIBLIOTECAS NECESSÁRIAS PARA A ANÁLISE DE DADOS

import pandas as pd

1ª Tarefa

Carregue em dataframes os conjuntos de dados referentes ao ano de 2018, 2019 e 2020. Corrija quaisquer erros que apareçam no carregamento dos arquivos. É possível acessar os arquivos
compactados diretamente do site, sem precisar baixá-los?

In [2]:
#COMPRESSION = "ZIP" PARA DESCOMPACTAR ARQUIVOS ZIP
#SEP=";" PARA MUDAR O SEPARADOR DOS DADOS DO DATAFRAME
#ENCONDING = "LATIN1" PARA DECODIFICAR O ARQUIVO COM A LINGUAGEM LATINA
#LOW_MEMORY = FALSE PARA DIMINUI O CONSUMO DE MEMORIA DO COMPUTADOR

dados2018 = pd.read_csv("https://arquivos.prf.gov.br/arquivos/index.php/s/MaC6cieXSFACNWT/download", compression="zip", sep=";", encoding="latin1", low_memory=False)

dados2019 = pd.read_csv("https://arquivos.prf.gov.br/arquivos/index.php/s/kRBUylqz6DyQznN/download", compression="zip", sep=";", encoding="latin1", low_memory=False)

dados2020 = pd.read_csv("https://arquivos.prf.gov.br/arquivos/index.php/s/jdDLrQIf33xXSCe/download", compression="zip", sep=";", encoding="latin1", low_memory=False)



print("""É possível acessar diretamente do site, desde que seja feita as devidas alterações, segue os links abaixo para o acesso:

arquivo_2018 = pd.read_csv("https://arquivos.prf.gov.br/arquivos/index.php/s/MaC6cieXSFACNWT/download", compression="zip", sep=";", encoding="latin1, low_memory=False")

arquivo_2019 = pd.read_csv("https://arquivos.prf.gov.br/arquivos/index.php/s/kRBUylqz6DyQznN/download", compression="zip", sep=";", encoding="latin1, low_memory=False")

arquivo_2020 = pd.read_csv("https://arquivos.prf.gov.br/arquivos/index.php/s/jdDLrQIf33xXSCe/download", compression="zip", sep=";", encoding="latin1, low_memory=False")
""")

É possível acessar diretamente do site, desde que seja feita as devidas alterações, segue os links abaixo para o acesso:

arquivo_2018 = pd.read_csv("https://arquivos.prf.gov.br/arquivos/index.php/s/MaC6cieXSFACNWT/download", compression="zip", sep=";", encoding="latin1, low_memory=False")

arquivo_2019 = pd.read_csv("https://arquivos.prf.gov.br/arquivos/index.php/s/kRBUylqz6DyQznN/download", compression="zip", sep=";", encoding="latin1, low_memory=False")

arquivo_2020 = pd.read_csv("https://arquivos.prf.gov.br/arquivos/index.php/s/jdDLrQIf33xXSCe/download", compression="zip", sep=";", encoding="latin1, low_memory=False")

2ª Tarefa

Explore os conjuntos de dados, respondendo as questões:

(a) quantos acidentes ocorreram em cada ano?

(b) quantas variáveis cada conjunto de dados registra?

(c) quais as cinco cidades brasileiras onde mais ocorreram acidentes em rodovias federais?

(d) quantos acidentes com feridos graves aconteceram na Paraíba em 2019?

In [4]:
print("LETRA A:")

#FOI UTILIZADO A FUNÇÃO LEN() PARA OBTER A QUANTIDADE DE ACIDENTES EM CADA ANO

acidentes_2018 = len(dados2018)
acidentes_2019 = len(dados2019)
acidentes_2020 = len(dados2020)

#PASSANDO AS INFORMAÇÕES PARA UM DATAFRAME PARA FACILITAR A VISUALIZAÇÃO DOS DADOS

qntd_acidentes = pd.DataFrame(data=(acidentes_2018, acidentes_2019, acidentes_2020), columns=['ACIDENTES'], index=[['2018', '2019', '2020']])
qntd_acidentes

LETRA A:

      ACIDENTES
2018      69295
2019      67446
2020      63548

In [5]:
print("LETRA B:")


colunas2018 = dados2018.columns.tolist()
colunas2019 = dados2019.columns.tolist()
colunas2020 = dados2020.columns.tolist()

#A UTILIZAÇÃO DA FUNÇÃO COLUMNS.TOLIST() FOI FEITA PARA QUE FOSSE POSSÍVEL O ARMAZENAMENTO DE TODAS AS COLUNAS DENTRO DE UMA LISTA ÚNICA, FACILITANDO A CONTAGEM DO NÚMERO DE COLUNAS

quantidade_colunas2018 = len(colunas2018)
quantidade_colunas2019 = len(colunas2019)
quantidade_colunas2020 = len(colunas2020)

#DA MESMA FORMA QUE FOI USADO NA QUESTÃO ANTERIOR, O LEN() SERÁ ESSENCIAL PARA DESCOBRIR A QUANTIDADE DE CONTEÚDOS DE DENTRO DE COLUNAS

#AGORA SERÁ REALIZADO A CRIAÇÃO DE UM DATAFRAME PARA A EXIBIÇÃO DOS DADOS

df_colunas = pd.DataFrame(data=[[quantidade_colunas2018, quantidade_colunas2019, quantidade_colunas2020]], columns=[['2018', '2019', '2020']], index=['QUANTIDADE DE COLUNAS'])
df_colunas

LETRA B:

                      2018 2019 2020
QUANTIDADE DE COLUNAS   30   30   30

In [12]:
print("LETRA C:")


ranking_2018 = dados2018['municipio'].value_counts()

#FOI UTILIZADO A FUNÇÃO VALUE.COUNTS() PARA ADQUIRIR A SOMA DE TODAS AS QUANTIDADES DE ACIDENTES EM CADA MUNICÍPIOS REGISTRADO

#TAMBÉM SE FAZ NECESSÁRIO A ANÁLISE DOS ANOS DE 2019 2020
ranking_2019 = dados2019['municipio'].value_counts()

ranking_2020 = dados2020['municipio'].value_counts()

#APÓS A OBTENÇÃO DO RANKING DE CADA ANO, É NECESSÁRIO REALIZAR A IMPRESSÃO NA TELA

print("RANKING DE MUNICÍPIOS DO ANO DE 2018")
print("--------------------------------------")
print(ranking_2018.head(5))
print("--------------------------------------")
print("RANKING DE MUNICÍPIOS DO ANO DE 2019")
print("--------------------------------------")
print(ranking_2019.head(5))
print("--------------------------------------")
print("RANKING DE MUNICÍPIOS DO ANO DE 2020")
print("--------------------------------------")
print(ranking_2020.head(5))

#A UTILIZAÇÃO DO HEAD() TEVE COMO OBJETIVO MOSTRAR AS 5 PRIMEIRAS POSIÇÕES DA SERIES, SENDO EQUIVALENTE AOS MAIORES NÚMEROS DE REGISTROS POR MUNICÍPIO

LETRA C:
RANKING DE MUNICÍPIOS DO ANO DE 2018
--------------------------------------
CURITIBA     1019
SAO JOSE      874
BRASILIA      867
GUARULHOS     755
PALHOCA       688
Name: municipio, dtype: int64
--------------------------------------
RANKING DE MUNICÍPIOS DO ANO DE 2019
--------------------------------------
CURITIBA     1094
BRASILIA     1090
SAO JOSE      819
GUARULHOS     717
SERRA         633
Name: municipio, dtype: int64
--------------------------------------
RANKING DE MUNICÍPIOS DO ANO DE 2020
--------------------------------------
BRASILIA     1040
CURITIBA      950
GUARULHOS     639
SAO JOSE      629
PALHOCA       593
Name: municipio, dtype: int64

In [6]:
print("LETRA D:")

#APÓS A VERIFICAÇÃO DAS COLUNAS E DE SEUS VALORES, É NECESSÁRIO FAZER A OPERAÇÃO DE SOMA NOS FERIDOS GRAVES E DOS ACIDENTES NA PARAÍBA

#NA LINHA DE CÓDIGO ABAIXO, EU ATRIBUI O RESULTADO DOS ACIDENTES QUE ACONTECERAM NA PARAÍBA E QUE AO MESMO TEMPO FORAM GRAVES EM UMA VARIÁVEL CAHMADA PARAÍBA_2019

#EM SEGUIDA, USEI A FUNÇÃO SUM() PARA OBTER A SOMA DE TODOS OS RESUTLADOS DESSA CONDIÇÃO QUE FOI CRIADA

paraiba_2019 = ((dados2019['feridos_graves']!=0) & (dados2019['uf']=='PB')).sum()

#AGORA É NECESSÁRIO REALIZAR A IMPRESSÃO NA TELA

acidentes_paraiba_2019 = pd.DataFrame(data=(paraiba_2019), columns=['2019'], index=['QUANTIDADE DE ACIDENTES GRAVES NA PARAÍBA'])
acidentes_paraiba_2019

LETRA D:

                                           2019
QUANTIDADE DE ACIDENTES GRAVES NA PARAÍBA   414

3ª Tarefa

Para cada indicação abaixo, construa um novo dataframe, salvando-o com a terminação .csv.

(a) ranking de acidentes por estado para todos os anos (um só arquivo combinando a
informação dos três anos);

(b) acidentes por dia da semana para todos os anos (um só arquivo combinando a informação dos três anos).

In [3]:
print("LETRA A:")

todos_valores = pd.concat([dados2018, dados2019, dados2020], ignore_index=True)

#NA LINHA DE CÓDIGO ACIMA, FOI UTILIZADO O CONCAT PARA FAZER A JUNÇÃO DOS DADOS DOS 3 ANOS EM UM SÓ DATA FRAME

ranking_valores = todos_valores['uf'].value_counts()

#A UTILIZAÇÃO DO VALUE_COUNTS() FOI SE NECESSÁRIA PARA OBTER OS VALORES DOS ACIDENTES EM CADA MUNICÍPIO

ranking_valores = pd.DataFrame(ranking_valores)

#ACIMA SEGUE A CRIAÇÃO DE UM DATAFRAME QUE TÊM OS DADOS DA QUANTIDADE DE ACIDENTES EM CADA MUNICÍPIO

ranking_valores.rename(columns={'uf':'QUANTIDADE'}, inplace=True)

#POR FIM, A TROCA DO NOME DA COLUNA COM A FUNÇÃO RENAME() PARA MELHOR VISUALIZAÇÃO DO DATAFRAME


ranking_valores

LETRA A:

    QUANTIDADE
MG       26160
SC       24145
PR       22850
RJ       13417
RS       13216
SP       12936
BA       10482
GO       10046
ES        8018
PE        8011
MT        6963
CE        4962
RO        4648
PB        4553
MS        4505
RN        4190
PI        3920
MA        3501
PA        3040
DF        2997
AL        1948
SE        1746
TO        1704
AC         789
RR         723
AP         456
AM         363

In [4]:
ranking_valores.to_csv('ranking_estados.csv')

#AQUI, A FUNÇÃO TO_CSV() FOI UTILIZADA PARA A CRIAÇÃO DE UM ARQUIVO EM CSV

In [15]:
print("LETRA B:")

todos_dias = pd.concat([dados2018, dados2019, dados2020], ignore_index=True)

#O CÓDIGO ACIMA SEGUE A MESMA LÓGICA DA QUESTÃO DE CIMA, A UTILIZAÇÃO DO CONCAT FOI FEITA PARA JUNTAS OS 3 DATAFRAMES

dias_qntd = pd.DataFrame(todos_dias['dia_semana'].value_counts())

#ACIMA, O VALUE_COUNTS() FOI UTILIZADO PARA JUNTAR A QUANTIDADE DE ACIDENTES EM CADA DIA DA SEMANA

dias_qntd.rename(columns={'dia_semana':'QUANTIDADE'}, inplace=True)

#EM SEGUIDA, OCORRE A RENOMEAÇÃO DA COLUNA PARA FACILIAR A VISUALIZAÇÃO DO DATAFRAME
dias_qntd

LETRA B:

               QUANTIDADE
sábado              33005
domingo             33001
sexta-feira         30777
segunda-feira       27075
quinta-feira        26229
quarta-feira        25353
terça-feira         24849

In [ ]:
dias_qntd.to_csv('ranking_dias.csv')

#DA MESMA FORMA A FUNÇÃO TO_CSV() ACIMA FOI UTILIZADA PARA A CRIAÇÃO DE UM ARQUIVO CSV

4ª Tarefa

Com relação a ocorrência dos acidentes, responda:

(a) qual a causa mais frequente e a mais rara de acidentes registrados nos três anos?

(b) qual a proporção de pessoas ilesas e de feridos graves por mês em cada um dos anos

considerados? (proporção = numero de ilesos ou feridos graves/ número total de
pessoas envolvidas no acidente);

(c) mostre, reorganizando o conjunto de dados, se a pandemia conseguiu diminuir ou não
a incidência de acidentes nas rodovias federais.

In [16]:
print("LETRA A:")

dados_totais = pd.concat([dados2018, dados2019, dados2020], ignore_index=True)

#A UTILIZAÇÃO DO CONCAT FOI FEITA PARA OBTER A JUNÇÃO DOS DADOS DOS 3 DATAFRAMES

dados_totais.rename(columns={'causa_acidente':'QUANTIDADE'}, inplace=True)

#A UTILIZAÇÃO DO RENAME TEVE COMO FINALIDADE UMA MELHOR COMPREENSÃO DO DATAFRAME FINAL, QUE IRÁ EXIBIR OS RESULTADOS

primeiro_causas = pd.DataFrame(dados_totais['QUANTIDADE'].value_counts().head(1))

#ACIMA FOI CRIADO UM DATA FRAME QUE LISTA A QUANTIDADE DE ACIDENTES COM AS CAUSAS MAIS FREQUENTES, A UTILIZAÇÃO DO HEAD() SERVIU PARA DESCOBRIR QUAL FOI A CAUSA MAIS FREQUENTE, EM JUNÇÃO COM O VALUE COUNTS()

ultimo_causas = pd.DataFrame(dados_totais['QUANTIDADE'].value_counts().tail(1))

#O CÓDIGO ACIMA SEGUE A MESMA LÓGICA QUE A LINHA ANTERIOR, PORÉM SERVE PARA ACHAR O MENOR FREQUENTE

#AGORA, SERÁ FEITA A IMPRESSÃO

print("----------------------------------------")
print("CAUSA MAIS FREQUENTE")

print(primeiro_causas)
print("----------------------------------------")
print("CAUSA MAIS RARA")

print(ultimo_causas)
print("----------------------------------------")

LETRA A:
----------------------------------------
CAUSA MAIS FREQUENTE
                             QUANTIDADE
Falta de Atenção à Condução       73231
----------------------------------------
CAUSA MAIS RARA
                 QUANTIDADE
Curva acentuada           1
----------------------------------------

In [9]:
print("LETRA B:")

dados2018['data_inversa'] = pd.to_datetime(dados2018['data_inversa'])

#A UTILIZAÇÃO DO DATETIME() FOI NECESSÁRIA PARA TRANSFORMAR O TIPO DA COLUNA DATA_INVERSA EM UM DATATIME, FACILITANDO AS OPERAÇÕES EM DIANTE

porcentagem2018 = pd.DataFrame(dados2018.groupby(dados2018['data_inversa'].dt.month)['ilesos'].sum())

#NO CÓDIGO ACIMA, HOUVE A CRIAÇÃO DE UM DATAFRAME QUE MOSTRA A SOMA DE TODAS AS PESSOAS QUE SAÍRAM ILESAS EM CADA MÊS, SENDO NECESSÁRIA A UTILIZAÇÃO DA FUNÇÃO GROUPBY() PARA ARMAZENAR AS INFORMAÇÕES DE CADA MÊS, E A FUNÇÃO SUM() PARA SOMÁ-LAS

porcentagem2018['feridos graves'] = dados2018.groupby(dados2018['data_inversa'].dt.month)['feridos_graves'].sum()

#SEGUINDO A MESMA LÓGICA NA LINHA DE CÓDIGO ACIMA, FOI CRIADA A COLUNA FERIDOS GRAVES , QUE MOSTRA A SOMA DAS PESSOAS ENVOLVIDAS EM ACIDENTES GRAVES POR MÊS

porcentagem2018['total de pessoas'] = dados2018.groupby(dados2018['data_inversa'].dt.month)['pessoas'].sum()

#SEGUINDO A MEMSA LÓGICA, A COLUNA TOTAL DE PESSOAS MOSTRA O TOTAL DE PESSOAS QUE SE ENVOLVERAM EM QUALQUER ACIDENTE A CADA MÊS

porcentagem2018['frequência de pessoas ilesas'] = porcentagem2018['ilesos']/porcentagem2018['total de pessoas']

#O CÓDIGO ACIMA FOI RESPONSÁVEL POR CRIAR A VARIÁVEL FREQUÊNCIA DE PESSOAS ILESAS, QUE MOSTRA A RAZÃO DE PESSOAS ILESAS PELO O TOTAL DE PESSOAS

porcentagem2018['frequência de pessoas envolvidas em acidentes graves'] = (porcentagem2018['feridos graves']/porcentagem2018['total de pessoas'])

#SEGUINDO A MESMA LÓGICA, A COLUNA CRIADA ACIMA MOSTRA A RAZÃO DE FERIDOS GRAVES PELO O TOTAL DE PESSOAS ENVOLVIDAS EM ACIDENTES

#A MESMA LÓGICA UTILIZADA PARA CRIAR TODO O DATAFRAME ACIMA, SERÁ UTILIZADA NOVAMENTE PARA CRIAR UM DATAFRAME PARA 2019 E OUTRO PARA 2020
#SEGUE AGORA A CODIFICAÇÃO PARA CRIAR OS DATAFRAMES DE 2019 E 2020


#2019
dados2019['data_inversa'] = pd.to_datetime(dados2019['data_inversa'])
porcentagem2019 = pd.DataFrame(dados2019.groupby(dados2019['data_inversa'].dt.month)['ilesos'].sum())
porcentagem2019['feridos graves'] = dados2019.groupby(dados2019['data_inversa'].dt.month)['feridos_graves'].sum()
porcentagem2019['total de pessoas'] = dados2019.groupby(dados2019['data_inversa'].dt.month)['pessoas'].sum()
porcentagem2019['frequência de pessoas ilesas'] = porcentagem2019['ilesos']/porcentagem2019['total de pessoas']
porcentagem2019['frequência de pessoas envolvidas em acidentes graves'] = (porcentagem2019['feridos graves']/porcentagem2019['total de pessoas'])


#2020
dados2020['data_inversa'] = pd.to_datetime(dados2020['data_inversa'])
porcentagem2020 = pd.DataFrame(dados2020.groupby(dados2020['data_inversa'].dt.month)['ilesos'].sum())
porcentagem2020['feridos graves'] = dados2020.groupby(dados2020['data_inversa'].dt.month)['feridos_graves'].sum()
porcentagem2020['total de pessoas'] = dados2020.groupby(dados2020['data_inversa'].dt.month)['pessoas'].sum()
porcentagem2020['frequência de pessoas ilesas'] = porcentagem2020['ilesos']/porcentagem2020['total de pessoas']
porcentagem2020['frequência de pessoas envolvidas em acidentes graves'] = (porcentagem2020['feridos graves']/porcentagem2020['total de pessoas'])

#PARA MELHOR VISUALIZAÇÃO DOS DATAFRAMES, UTILIZAREI UMA CÉLULA DE CÓDIGO PARA CADA DATAFRAME GERADO
#COMEÇANDO PELO O DE 2018
print("ANO: 2018")
porcentagem2018

LETRA B:
ANO: 2018

,ilesos,feridos graves,total de pessoas,frequência de pessoas ilesas,frequência de pessoas envolvidas em acidentes graves
data_inversa,,,,,
1,8554,1510,16665,0.513291,0.090609
2,6999,1295,14047,0.498256,0.092191
3,7276,1539,15110,0.481535,0.101853
4,5691,1492,13230,0.430159,0.112774
5,4851,1315,11489,0.422230,0.114457
6,5471,1498,12870,0.425097,0.116395
7,5958,1502,13618,0.437509,0.110295
8,5456,1359,12776,0.427051,0.106371
9,5480,1504,13027,0.420665,0.115453
10,5545,1452,12890,0.430178,0.112645
11,5719,1523,13197,0.433356,0.115405
12,6876,1717,15883,0.432916,0.108103

In [204]:
#2019
print("ANO: 2019")
porcentagem2019

ANO: 2019

,ilesos,feridos graves,total de pessoas,frequência de pessoas ilesas,frequência de pessoas envolvidas em acidentes graves
data_inversa,,,,,
1,5562,1485,13111,0.424224,0.113264
2,5004,1260,11799,0.424104,0.106789
3,5878,1555,13569,0.433193,0.114599
4,5327,1358,12815,0.415685,0.105970
5,5312,1545,12795,0.415162,0.120750
6,5683,1631,13411,0.423757,0.121617
7,6260,1672,14331,0.436815,0.116670
8,5544,1566,13421,0.413084,0.116683
9,5761,1514,13682,0.421064,0.110656
10,5836,1669,13931,0.418922,0.119805
11,5886,1535,13823,0.425812,0.111047
12,6581,1783,15585,0.422265,0.114405

In [205]:
#2020
print("ANO: 2020")
porcentagem2020

ANO: 2020

,ilesos,feridos graves,total de pessoas,frequência de pessoas ilesas,frequência de pessoas envolvidas em acidentes graves
data_inversa,,,,,
1,5847,1512,14070,0.415565,0.107463
2,5537,1468,13183,0.420011,0.111356
3,4321,1213,10775,0.401021,0.112575
4,3155,989,8385,0.376267,0.117949
5,4043,1168,10074,0.401330,0.115942
6,4425,1212,10454,0.423283,0.115936
7,4934,1263,11628,0.424321,0.108617
8,5454,1535,12881,0.423414,0.119168
9,5486,1548,13187,0.416016,0.117388
10,5960,1736,14501,0.411006,0.119716
11,5491,1624,13490,0.407042,0.120385
12,6205,1836,15050,0.412292,0.121993

In [18]:
print("LETRA C:")

df2020_copia = dados2020

#ACIMA EU CRIEI UMA CÓPIA DO DATAFRAME DO ANO DE 2020 ORIGINAL PARA QUE NÃO HOUVESSE MUDANÇAS NO ARQUIVO ORIGINAL

df2020_copia['data_inversa'] = pd.to_datetime(df2020_copia['data_inversa'])

#ACIMA EU TRANSFORMEI A COLUNA DE DATA_INVERSA DA CÓPIA PARA O TIPO DATATIME, PARA FACILITAR AS OPERAÇÕES POSTERIORES

df2020_copia['meses'] = df2020_copia['data_inversa'].dt.month

#NA LINHA DE CÓDIGO ANTERIOR, FOI CRIADO UMA COLUNA CHAMADA MESES COM A FUNÇÃO DT.MONTH PARA SEPARAR OS MESES DAS DATAS EM NÚMERO INTEIROS EQUIVALENTES AO MÊS

tamanho_2020 = (df2020_copia['meses']<= 2).sum()

#LOGO ACIMA, FOI FEITO A CONDIÇÃO PARA SOMAR A QUANTIDADE DE ACIDENTES DE 2020 SEM A PANDEMIA

len_18_19_20 = (len(dados2018) + len(dados2019) + tamanho_2020)/26

#ENQUANTO AQUI, FOI FEITA A CRIAÇÃO DA VARIÁVEL LEN_18_19_20 COM O OBJETIVO DE ARMAZENAR A MÉDIA DE ACIDENTES POR MÊS DOS ANOS 2018, 2019 E 2020 SEM A PANDEMIA

len_pandemia = ((df2020_copia['meses']>=3).sum())/10

#ENQUANTO O CÓDIGO A CIMA FOI FEITO A CONDIÇÃO DE SOMA PARA OS MESES DE 2020 QUE HOUVE A PANDEMIA


df_analise = pd.DataFrame(data=(len_18_19_20, len_pandemia), columns=['Média de acidente mensal'], index=[['Sem pandemia', 'Com pandemia']])

#ACIMA HOUVE A CRIAÇÃO DE UM DATAFRAME PARA FACILITAR A VISUALIZAÇÃO DOS DADOS

df_analise

LETRA C:

              Média de acidente mensal
Sem pandemia               5680.961538
Com pandemia               5258.400000

In [19]:

#E AQUI SE ENCONTRA A ANÁLISE SOBRE OS ACIDENTES DO DATAFRAME ACIMA, O PRINT NÃO SE ENCONTRA NA CÉLULA ANTERIOR PARA NÃO ATRAPALHAR A VISUALIZAÇÃO DOS DADOS ACIMA.

print("""   A partir da análise do dataframe acima, é possivel perceber que
com a presença da pandemia no ano de 2020, o número de acidentes nos meses
que houveram pandemia foram levemente menores que os meses dos meses em que não
houve pandemia, sendo levado em conta os meses dos anos de 2018, 2019 e os meses de janeiro
e fevereiro de 2020.
    Isso se deve à presença do lockdown estabelecido pelo o país, resultando em um maior número
de pessoas dentro de casa, e com mais pessoas dentro de casa, menor são o número de pessoas dirigindo,
logo, resulta em uma diminuição significativa no número de acidentes.
""")

   A partir da análise do dataframe acima, é possivel perceber que
com a presença da pandemia no ano de 2020, o número de acidentes nos meses
que houveram pandemia foram levemente menores que os meses dos meses em que não
houve pandemia, sendo levado em conta os meses dos anos de 2018, 2019 e os meses de janeiro
e fevereiro de 2020.
    Isso se deve à presença do lockdown estabelecido pelo o país, resultando em um maior número
de pessoas dentro de casa, e com mais pessoas dentro de casa, menor são o número de pessoas dirigindo,
logo, resulta em uma diminuição significativa no número de acidentes.